body{
	margin: 0 auto;
	max-width: 2000px;
}
header{
	margin-left:15%;
}
header h3{
	color: white;
	font-size: 25px;


	}
#firstSection{
	background: url(../img/picture.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	clear:both;
	
}
.nav{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
nav{
	padding-right: 280px;
	margin: 0;
}
nav ul{
	display: flex;
	
	list-style: none;
	flex-wrap: wrap;

}
ul li{
	
	padding: 15px;
	
}
ul li a{
	font-family: lucida console;
	font-size: 18px;
	 text-decoration: none;
	 color: white;
}
.welcomeMogo h1{
	font-family: colspace;
	font-size:120px;
	margin: 0;
	margin-bottom: 30px;
	text-align: center;

}
.welcomeMogo h2{
	margin-top: 100px;
	margin-bottom: 10px;
	font-style: italic;
	font-size: 45px;
}
.welcomeMogo{
	clear:both;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: white;
}
.welcomeMogo button{
	margin-bottom: 20px;
	margin-top: 50px;
	border: solid white;
    border-radius: 4px;
    padding:10px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    color:white;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
}
#forUs h6{
	font-size: 30px;
  font-family: brush script mt;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0px;
  color: rgb(51, 51, 51);

}
#forUs h2{
	font-size: 30px;
	text-align: center;
	font-family: Arial black;
	color: rgb(51, 51, 51);
	margin-top: 8px;

}
#forUs hr{
	border:none;
	background-color: #f38181;
	height:3px;
	width:65px;
	margin-top: 30px;
	
}
#forUs p{
	text-align: center;
	margin-top: 40px;
	color: rgb(153, 153, 153);
  	line-height: 1.6;
  	font-family: corbel;
}
#forUs .pictures{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	margin-top: 70px;
}
#forUs .background{
	background: #95e1d3;
	margin:15px;
	position:relative;
	
}#forUs .background .pict1{
	position:relative;
	right:10px;
	bottom: 5px;
}
	
#forUs .img2{
	margin:15px;
	}
#Line .blueLine{
	background-color: #95e1d3;
	display:flex;
	justify-content: center;
	margin-top: 70px;
	
	
}
#Line .blueLine .mini5{

	border-left: 0.5px solid white;
	width: 15%;
	height:210px;
}
#Line .blueLine .mini5 p{
	text-align: center;
	font-size: 18px;
  	line-height: 1.6;
	margin-top: 30px;
  	line-height: 1.6;
  	font-family: corbel;
	color:#fff;
}
#Line .blueLine .mini5 span{
	font-size:72px;
	font-family: arial;
	font-weight: bold;
	color: #fff;
	
}
#Line .blueLine .fifth{
	border-right: 0.5px solid #fff;
}

#amazingServices h6{
	font-size: 30px;
  font-family: brush script mt;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0px;
  color: rgb(51, 51, 51);

}
#amazingServices h2{
	font-size: 30px;
	text-align: center;
	font-family: Arial black;
	color: rgb(51, 51, 51);
	margin-top: 8px;

}
#amazingServices .line{
	border:none;
	background-color: #f38181;
	height:3px;
	width:65px;
	margin-top: 30px;
}

#amazingServices .menu{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 35px;



}
#amazingServices .menu img{
	float:left;
	margin-right: 5px;
	margin-top: 19px;


}
#amazingServices .menu strong{
	font-size: 14px;
	font-family: Arial;
}
#amazingServices .menu p{
	margin-left:50px;
	width:70%;
	
  	line-height: 1.6;

}
#amazingServices .menu span{
	color: rgb(153, 153, 153);
}
.secondline{
	width:80%;
}

#forest{
	background: url(../img/forest.png);
	background-repeat: no-repeat;
 	background: cover;
	margin-top: 70px;

}
	
#forest h6{
	font-size: 30px;
  	font-family: brush script mt;
  	text-align: center;
  	margin-bottom: 0px;
  	color: rgb(51, 51, 51);

}
#forest h2{
	font-size: 30px;
	text-align: center;
	font-family: Arial black;
	color: rgb(51, 51, 51);
	margin-top: 8px;
}

#forest .line{
	border:none;
	background-color: #f38181;
	height:3px;
	width:65px;
	margin-top: 30px;
}
#forest .forestDesign{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#forest .laptop{
	
	position: relative;
	top:7px;
	left:470px;
}
#forest .telephon{
	position:relative;
	top:100px;
	left:300px;
	 

}


#whoWeAre h6{
	font-size: 30px;
  	font-family: brush script mt;
  	text-align: center;
  	margin-bottom: 0px;
  	color: rgb(51, 51, 51);

}
#whoWeAre h2{
	font-size: 30px;
	text-align: center;
	font-family: Arial black;
	color: rgb(51, 51, 51);
	margin-top: 8px;

}
#whoWeAre .line{
	border:none;
	background-color: #f38181;
	height:3px;
	width:65px;
	margin-top: 30px;
}

#whoWeAre .Who{
	text-align: center;
	margin-top: 40px;
	color: rgb(153, 153, 153);
  	line-height: 1.6;
  	font-family: corbel;
}


#whoWeAre .pictures3{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	margin-top: 70px;
}
#whoWeAre .backgroundWe{
	background: #95e1d3;
	margin:10px;
	position:relative;
	
}#whoWeAre .backgroundWe .pict3{
	position:relative;
	right:10px;
	bottom: 5px;
}
	
#whoWeAre .img3{
	margin:15px;
}

#whoWeAre .upString{
	text-align: center;
	font-family: Arial, sans-serif;
	

}
#whoWeAre .too{
	margin-top: 33px;
}
#whoWeAre .downString{
	text-align: center;
	color: rgb(153, 153, 153);

}
#last {
	margin-top: 70px;
}
#Mogo{
	background: lightgrey;
}
#Mogo .firstMogo{
	display: flex;
	justify-content: center;
	
}
#Mogo .div3{
	width:30%;
	margin: 20px;
}



#Mogo .m{
	font-size: 30px;
	color: rgb(153, 153, 153);
	margin-bottom: 25px;
}
#Mogo .Lorem{
	color: rgb(153, 153, 153);
	margin-top: 50px;
	
}

#Mogo .followers{
	margin-top: 40px;

}

#Mogo .mages1{
	float: left;
}
#Mogo .mages2{
	float: left;
	clear:left;
}
#Mogo .mages3{
	float:left;
	
}
#Mogo .string{
	margin-left: 160px;
}
#Mogo .if{
	margin-top: 35px;
}

#last .blog{
	font-size:30px;
}
#last .inst{
	display: flex;
	flex-wrap: wrap;
	width:70%;
}


#footer{
	background: lightgrey;
	
}

#footer hr{
	width: 90%;
	margin-top: 0px;
	text-align: center;
}
#footer p{
	text-align: center;
	padding:10px;
	margin-bottom: 0px;
}